{% include "./header.html" %}
<body>
  {% if user.is_authenticated %}
  <div class="container mx-auto grid sm:grid-cols-11" style="max-width: none; padding: 0; height: 100%; overflow-x: hidden;">
    <!-- Side Bar -->
    <div class="rounded col-span-2">
      {% block sidebar %}
        {% include "snsApp/sidebar.html" %}
        {% endblock %}
    </div>
    <!-- Home Feed Contents -->
    <div class="rounded col-span-9">
      {% block content %}
      {% include "snsApp/home_feed.html"%}
      {% endblock %}
    </div>
  </div>
  <!-- If not logged in, redirect to login page -->
  {% else %}
    {% block login %}
      {% include "snsApp/login.html"%}
    {% endblock %}
  {% endif %}
</body>
